{% extends "layout.html" %}

{% block content %}
    <a 
    class="btn btn-outline-success"
    href="/jauns-produkts">
    Jauns produkts
    </a>
<br>
    {% for produkts, kategorija in produkti %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ produkts.nosaukums }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ kategorija.nosaukums }}</h6>
          <p class="card-text">{{ produkts.teh_rakst }}</p>
          {% if produkts.pieejams == True %}
            <p class="card-text text-success">Pieejams</p>
            {% else %}
            <p class="card-text text-danger">Nav pieejams</p>
            {% endif %}
          <p class="card-text">{{ produkts.dienas_cena }} €/dienā</p>
        </div>
      </div>
    {% endfor %}
{% endblock %}